<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>Hello,</p>
  <p><%= @sharer %> has shared a list with you.</p>
  <p>Login in to <%= link_to "Groceries", @url %> to review the list.</p>
</body>
</html>
