<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<%# https://groceries-app.com/auth/password/edit?config=default&redirect_url=https%3A%2F%2Fgroceries-app.com%2Fusers%2Fpassword%2Fedit&reset_password_token=GszzEd7-fhXsUbmupva_ %>
<%# TODO: need to use api URL %>
<p><%= link_to 'Change my password', edit_user_password_url(redirect_url: message['redirect-url'].to_s, reset_password_token: @token, config: message['client-config'].to_s) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<%# https://groceries-app.com/auth/password/edit?config=default&redirect_url=https%3A%2F%2Fgroceries-app.com%2Fusers%2Fpassword%2Fedit&reset_password_token=GszzEd7-fhXsUbmupva_ %>
